<div data-view="full-mouth">
    <div class="full-mouth jaw-box">
        <ol data-type="upper" class="jaw">
            <li data-number="18">
                <a href="patients/{patientId}/tooth/iso-18">
                    <div data-jaw="upper" data-number="18" data-next-number="17" data-projection="buccal"
                        data-image-type="base" data-context="mouth" data-layers="endodontic periodontal dental"
                        data-pathology="{&quot;decay&quot;:{&quot;surfaces&quot;:[],&quot;values&quot;:{}},&quot;fracture&quot;:{&quot;surfaces&quot;:[],&quot;values&quot;:{}},&quot;tooth-wear&quot;:{&quot;surfaces&quot;:[],&quot;values&quot;:{}},&quot;discoloration&quot;:{&quot;surfaces&quot;:[],&quot;values&quot;:{}},&quot;apical&quot;:{&quot;surfaces&quot;:[],&quot;values&quot;:{}},&quot;development-disorder&quot;:{&quot;surfaces&quot;:[],&quot;values&quot;:{}}}"
                        data-restoration="[{&quot;type&quot;:&quot;crown&quot;,&quot;surfaces&quot;:[],&quot;material&quot;:0,&quot;crown_type&quot;:2,&quot;created_at&quot;:&quot;2025-11-22T07:12:50Z&quot;},{&quot;type&quot;:&quot;crown&quot;,&quot;surfaces&quot;:[],&quot;material&quot;:3,&quot;crown_type&quot;:1,&quot;crown_base&quot;:1,&quot;created_at&quot;:&quot;2025-11-22T07:14:03Z&quot;},{&quot;type&quot;:&quot;crown&quot;,&quot;surfaces&quot;:[],&quot;material&quot;:1,&quot;crown_type&quot;:0,&quot;crown_base&quot;:0,&quot;created_at&quot;:&quot;2025-11-22T07:14:43Z&quot;}]"
                        data-root-canal="{&quot;pulpType&quot;:0}" data-eruption="erupted" data-state="single-crown"
                        data-periodontal-depth-disto-buccal="2" data-periodontal-margin-disto-buccal="0"
                        data-periodontal-depth-buccal="2" data-periodontal-margin-buccal="0"
                        data-periodontal-depth-mesio-buccal="1" data-periodontal-margin-mesio-buccal="0"
                        data-next-periodontal-depth-disto-buccal="1" data-next-periodontal-margin-disto-buccal="0"
                        data-next-periodontal-depth-buccal="2" data-next-periodontal-margin-buccal="0"
                        data-next-periodontal-depth-mesio-buccal="2" data-next-periodontal-margin-mesio-buccal="0"
                        data-furcation="0" data-mobility="0" class="visualization">
                        <canvas width="184" height="576">
                            <!---->
                        </canvas>
                    </div>
                    <div data-jaw="upper" data-number="18" data-next-number="17" data-projection="incisal"
                        data-image-type="base" data-context="mouth" data-layers="endodontic periodontal dental"
                        data-pathology="{&quot;decay&quot;:{&quot;surfaces&quot;:[],&quot;values&quot;:{}},&quot;fracture&quot;:{&quot;surfaces&quot;:[],&quot;values&quot;:{}},&quot;tooth-wear&quot;:{&quot;surfaces&quot;:[],&quot;values&quot;:{}},&quot;discoloration&quot;:{&quot;surfaces&quot;:[],&quot;values&quot;:{}},&quot;apical&quot;:{&quot;surfaces&quot;:[],&quot;values&quot;:{}},&quot;development-disorder&quot;:{&quot;surfaces&quot;:[],&quot;values&quot;:{}}}"
                        data-restoration="[{&quot;type&quot;:&quot;crown&quot;,&quot;surfaces&quot;:[],&quot;material&quot;:0,&quot;crown_type&quot;:2,&quot;created_at&quot;:&quot;2025-11-22T07:12:50Z&quot;},{&quot;type&quot;:&quot;crown&quot;,&quot;surfaces&quot;:[],&quot;material&quot;:3,&quot;crown_type&quot;:1,&quot;crown_base&quot;:1,&quot;created_at&quot;:&quot;2025-11-22T07:14:03Z&quot;},{&quot;type&quot;:&quot;crown&quot;,&quot;surfaces&quot;:[],&quot;material&quot;:1,&quot;crown_type&quot;:0,&quot;crown_base&quot;:0,&quot;created_at&quot;:&quot;2025-11-22T07:14:43Z&quot;}]"
                        data-root-canal="{&quot;pulpType&quot;:0}" data-eruption="erupted" data-state="single-crown"
                        data-furcation="0" data-mobility="0" class="visualization">
                        <canvas width="184" height="260">

                            <!---->
                        </canvas>
                    </div>
                    <span class="number">18</span>
                </a>
            </li>
        </ol>
        <ol data-type="lower" class="jaw">
            <!--Mirror upper jaw-->
        </ol>
    </div>
</div>