.pathologyDrawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 400px;
    background-color: var(--background-secondary);
    box-shadow: var(--shadow-xl);
    border-left: 1px solid var(--border-color);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

.left {
    left: 64px;
    transform: translateX(0);
}

.right {
    right: 0;
    transform: translateX(0);
}

.drawerContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.scrollableContent {
    flex: 1;
    overflow-y: auto;
    padding: 0;
}


.summaryList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
}

.summaryLabel {
    font-weight: 700;
    color: var(--text-tertiary);
    /* Gray-400 */
    margin-right: 8px;
    text-transform: uppercase;
    min-width: 80px;
    text-align: left;
    padding: 16px 0px 0px 16px;
}