.wave-interactive-wrapper {
    position: relative;
    width: 100%;
    flex: 1;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    outline: 1px dashed green;
    /* DEBUG */
    background-color: var(--background-secondary);
}

.wave-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Below canvas */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    /* Above content */
    cursor: crosshair;
}